<h3>Bước 1: Tính Hx, Hy</h3>
<h4>• I ⊗ Hx:</h4>
{{{iHxHtmls}}}
<h4>• I ⊗ Hy:</h4>
{{{iHyHtmls}}}
<h3>Bước 2: Tính (I ⊗ Hx) + (I ⊗ Hy)</h3>
{{{iHxiHyHtmls}}}
<h3>Bước 3: Tách ngưỡng theo θ</h3>
<img src="/img/cong-thuc-robert.jpg" style="width: 500px" alt="">
<br><br>
<h4>• |I ⊗ Hx| + |I ⊗ Hx|:</h4>
{{{iHxiHyHtmlsGTTD}}}

<h4>• Xét theo ngưỡng = {{{nguong}}} ta được:</h4>
{{{xetNguongHtmls}}}